<div class="offer-card">
  <div class="right-content">
    <div class="padding-wrapper">
      <p><%= offer.typeofoffer ?  offer.typeofoffer : "Vegan" %></p>
        <h6><%= offer.title[0...20] %></h6>
        <p><%= offer.address[0...20] %></p>
        <p><i class="fa-regular fa-clock"></i> <%= offer.pickupslots %></p>

    <div class="placeholder-offer-card">
      <%= link_to offer_path(offer.id), data: {turbo_method: :delete} do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
      <%= link_to edit_offer_path(offer.id) do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </div>


    </div>
  </div>

   <div class="left-image">
    <% if offer.images.attached? %>
      <% offer.images.each do |photo| %>
      <%= cl_image_tag photo.key,
        :gravity => "center",
        :class => "dashboard-offercard_image", crop: :fill %>
    <% end %>
    <% else %>
      <h5>PlaceHolder</h5>
    <% end %>
   </div>


</div>
