<div class="dashboard-offerheader">
  <div>
    <% if current_user.profile_picture.attached? %>
        <%= cl_image_tag current_user.profile_picture.key,
          :gravity => "center",
          :class => "avatar-square",
          crop: :fit %>
        <% else %>
          <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar-bordered">
        <% end %>
  </div>
  <div class="dashboard-userinfo">
    <span class="dashboard-username">Hello @<%= current_user.username %></span>
    <span class="dashboard-details"><i class="fa-solid fa-location-arrow arrow"></i> <%= current_user.address.split(",")[-4..-2].join %></span>
    <span class="dashboard-details">Rating <%= current_user.reviews[0] %></span>
  </div>
</div>

<div class="dashboard-title">
  <h3>Offers</h3>
  <% @offers.each do |offer| %>
    <%= render "offercard", offer: offer %>
  <% end %>
</div>


<div class="dashboard-title">
  <h3>Offers</h3>
  <% @bookings.each do |booking| %>
    <%= render "bookingcard", booking: booking %>
  <% end %>
</div>

