<%= link_to chatroom_path(chatroom) do %>
<div class="chatroom-container">
  <% if Message.where(chatroom_id: chatroom.id).last&.read == false %>
  <div class = "chatroomcard unread">
  <% else %>
  <div class = "chatroomcard">
  <% end %>

    <div class = "chatroom-info">
    <% if chatroom.booker_id == current_user.id %>
      <%= user_avatar(User.find(chatroom.offerer_id)) %>
      <div>
        <p>@<%= User.find(chatroom.offerer_id).username %></p>
        <p><%= Message.where(chatroom_id: chatroom.id).where(user_id: chatroom.offerer_id).where(read: false).count %> new</p>
      </div>
      <div style="flex-grow:2;">
        <p>last message: </p>
        <p><%= Message.where(chatroom_id: chatroom.id).last&.content %></p>
      </div>
    <% else %>
      <%= user_avatar(User.find(chatroom.booker_id)) %>
      <div>
        <p>@<%= User.find(chatroom.offerer_id).username %></p>
        <p><%= Message.where(chatroom_id: chatroom.id).where(user_id: chatroom.booker_id).where(read: false).count %> new</p>
      </div>
      <div style="flex-grow:2;">
        <p>last message: </p>
        <p><%= Message.where(chatroom_id: chatroom.id).last&.content %></p>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>
