<div class="offer_image" style="background-image: url('<%= offer_image_background(@offer) %>')"></div>



<div class="user-details">
  <%= user_avatar(@offer.user) %>
  <span class="username"> @<%= @offer.user.username %> </span>
  <span class="rating">Rating: 3.5 </span>
  <div class="geocode">
    <span class="distance">1.2km </span>
    <i class="fa-solid fa-location-arrow arrow"></i>
  </div>
</div>

  <div class="head-content">
    <h5 class="text-title"> <%=@offer.title%> </h5>

    <div class="actionbuttons">
      <%= link_to chatroom_path(Chatroom.find_by(booking_id: Booking.find_by(offer_id: @offer.id))) do%>
            <i class="bi bi-chat-left-text"></i>
      <% end %>
      <i class="bi bi-bookmark-check"></i>
    </div>

  </div>
  <h6 class="text-description"> orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <%= @offer.body.capitalize %> </h6>

<div class="head-options">

  <div class="action">

    <div class="checked-booking">
    <h1> Come and pick me up! </h1>
    <div style="border-radius:8px;background-color:#ebebeb;padding:5px;">
    <p style="text-align:center;margin-bottom:0px;"><%= @offer.address %></p>
    </div>
      <div class="more-infos">
        <div class="button-wrapper">
          <h6 class="fw-bold">Posted</h6>
            <div>
            <h6 style="text-align: center;"><%= time_ago_in_words(@offer.created_at) %> ago</h6>
            </div>
          <i class="fa-regular fa-calendar-days"></i>
        </div>

        <div class="button-wrapper">
          <h6 class="fw-bold">Food Type</h6>
          <h6><%= @offer.typeofoffer %></h6>
          <i class="fa-solid fa-leaf"></i>
        </div>

        <div class="button-wrapper">
          <h6 class="fw-bold">Allergens</h6>
          <h6><%= @offer.allergen %></h6>
          <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <div class="confirm-button">
          <i class="fa-solid fa-circle-check"></i>
        </div>
      </div>
    </div>


  </div>


<div class = "blankline"> </div>
</div>
