<div class="navbar navbar-expand-sm footnavbar">
  <div class="container-fluid">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i></a>
    <a href="#"><i class="fa-solid fa-map-location-dot"></i></a>
    <a href="#"><i class="fa-sharp fa-solid fa-plus"></i></a>
<<<<<<< HEAD
    <a href="#"><i class="fa-light fa-message"></i></a>
    <a href="#"><i class="fa-solid fa-user"></i></a>
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

            </div>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
=======
    <a href="#"><i class="fa-solid fa-message"></i></a>
 <% if user_signed_in? %>
  <div class="dropup-center dropup">
    <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropup" aria-expanded="false">
      <i class="fa-solid fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%= link_to "Action", "#", class: "dropdown-item" %>
      <%= link_to "Another action", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_action: "replace" }, class: "dropdown-item" %>
>>>>>>> 20d95878371b89f69b7143cdf7fa4b30b1f68041
    </div>
  </div>
<% else %>
  <%= link_to new_user_session_path, class: "nav-link" do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
<% end %>
  </div>
</div>
