<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <% if user_signed_in? %>
    <%= link_to dashboard_index_path, class: "profileicon-container-a" do %>
    <h6>My Dashboard</h6>
    <% end %>

    <%= link_to edit_user_registration_path, class: "profileicon-container-a" do %>
    <h6>Edit profile</h6>
    <% end %>

    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "profileicon-container-a" do %>
    <h6>Log out</h6>
    <% end %>

  <% else %>
    <%= link_to new_user_session_path, class: "profileicon-container-a" do %>
    <h5>Log in</h5>
    <% end %>
    <%= link_to new_user_registration_path, class: "profileicon-container-a" do %>
    <h5>Sign up</h5>
    <% end %>
  <% end %>
</div>

<div class="navbar footnavbar">
  <div class="button-div">
    <%= link_to root_path, class: "btn btn-transparent" do %>
      <i class="fa-solid fa-home"></i>
    <% end %>
  </div>
  <div class="button-div">
    <%= link_to map_path, class: "btn btn-transparent" do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
  </div>
  <div class="button-div">
    <%= link_to new_offer_path, class: "btn btn-transparent" do %>
      <i class="fa-sharp fa-solid fa-plus"></i>
    <% end %>
  </div>
  <div class="button-div">
    <button type="button" class="btn btn-transparent">
      <i class="fa-solid fa-message"></i>
    </button>
  </div>
  <div class="button-div">
    <button type="button" data-action="click->filter#toggleProfileicon" class="btn btn-transparent">
      <i class="fa-solid fa-user"></i>
    </button>
  </div>
</div>
