<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <% if user_signed_in? %>
    <%= link_to dashboard_index_path, class: "profileicon-container-a" do %>
    <h6>My Dashboard</h6>
    <% end %>

    <%= link_to edit_user_registration_path, class: "profileicon-container-a" do %>
    <h6>Edit profile</h6>
    <% end %>
    <br>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "profileicon-container-a" do %>
    <h6>Log out</h6>
    <% end %>

  <% else %>
    <%= link_to new_user_session_path, class: "profileicon-container-a" do %>
    <h6>Log in</h6>
    <% end %>
    <br>
    <%= link_to new_user_registration_path, class: "profileicon-container-a" do %>
    <h6>Sign up</h6>
    <% end %>
  <% end %>
</div>

<div class="footnavbar">
  <%= link_to root_path do %>
    <button type="button" class="button-div">
      <i class="fa-solid fa-home"></i>
      <span class = "navbar-text">Home</span>
    </button>
  <% end %>
  <%= link_to map_path do %>
    <button type="button" class="button-div">
      <i class="fa-solid fa-map-location-dot"></i>
      <span class = "navbar-text">Map</span>
    </button>
    <% end %>
  <%= link_to new_offer_path do %>
    <button type="button" class="button-div">
      <i class="fa-sharp fa-solid fa-plus"></i>
      <span class = "navbar-text">Add offer</span>
    </button>
  <% end %>
  <%= link_to new_offer_path do %>
    <button type="button" class="button-div">
      <i class="fa-sharp fa-solid fa-plus"></i>
      <span class = "navbar-text">Messages</span>
    </button>
  <% end %>
  <button type="button" data-action="click->filter#toggleProfileicon">
    <div class="button-div">
      <i class="fa-solid fa-user"></i>
      <span class = "navbar-text">User</span>
    </div>
  </button>
</div>
