<div data-filter-target="profileiconcontainer" class="profileicon-container hiddennav">
  <% if user_signed_in? %>
    <div class="button-div profile">
    <%= link_to dashboard_index_path do %>
      <div class="button-items">
          <i class="bi bi-ui-checks-grid"></i>
          <span class = "navbar-text">Dashboard</span>
      </div>
    <% end %>
    </div>

    <div class="button-div profile">
    <%= link_to edit_user_registration_path do %>
      <div class="button-items">
          <i class="bi bi-pencil-square"></i>
          <span class = "navbar-text">EditUser</span>
      </div>
    <% end %>
    </div>

    <div class="button-div profile">
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
      <div class="button-items">
          <i class="bi bi-box-arrow-right"></i>
          <span class = "navbar-text">LogOut</span>
      </div>
    <% end %>
    </div>

  <% else %>
    <div class="button-div">
    <%= link_to new_user_session_path do %>
      <div class="button-items">
          <i class="bi bi-box-arrow-in-right"></i>
          <span class = "navbar-text">Login</span>
      </div>
    <% end %>
    </div>

    <div class="button-div">
    <%= link_to new_user_registration_path do %>
      <div class="button-items">
          <i class="bi bi-person-plus"></i>
          <span class = "navbar-text">Register</span>
      </div>
    <% end %>
  </div>
  <% end %>
</div>


<div class="footnavbar">
  <div class="button-div">
    <%= link_to root_path do %>
    <div class="button-items">
        <i class="bi bi-columns-gap"></i>
        <span class = "navbar-text">Home</span>
    </div>
    <% end %>
  </div>

  <div class="button-div">
    <%= link_to map_path do %>
    <div class="button-items">
      <i class="bi bi-compass"></i>
      <span class = "navbar-text">Map</span>
    </div>
    <% end %>
  </div>

  <div class="button-div">
    <%= link_to new_offer_path do %>
    <div class="button-items">
      <i class="bi bi-plus-circle"></i>
      <span class = "navbar-text">Add offer</span>
    </div>
    <% end %>
  </div>

  <div class="button-div">
    <%= link_to new_offer_path do %>
    <div class="button-items">
      <i class="bi bi-chat-left"></i>
      <span class = "navbar-text">Messages</span>
    </div>
    <% end %>
  </div>

  <div class="button-div">
    <div class="button-items" data-action="click->filter#toggleProfileicon">
          <% if current_user && current_user.profile_picture.attached? %>
              <%= cl_image_tag current_user.profile_picture.key,
                :gravity => "center",
                :class => "avatar-bordered-profile",
                crop: :fit %>
              <% else %>
                <img src="https://res.cloudinary.com/dxdyu4tqu/image/upload/v1683908905/profile_pictures/photo-1583795128727-6ec3642408f8.jpg" alt="", class= "avatar-bordered-profile">
          <% end %>
        <span class = "navbar-text user">User</span>
    </div>
  </div>
</div>
