<h1 class="new-title">Share your food 😄</h1>
<div class="mt-3 mb-5">
  <%= simple_form_for(@offer) do |f| %>


    <div class = "container" class="form-inputs">
      <%= f.input :title %>
      <%= f.input :body, label: "Description" %>
      <%= f.input :address, input_html: {value: long_address_text(current_user)}%>
      <%= f.input :pickupslots, as: :check_boxes, collection: ['12-15hrs', '15-18hrs', '18-20hrs'] %>
      <%= f.input :typeofoffer, label: "Type of food", as: :check_boxes, collection: ['Vegan', 'Vegetarian', 'Meat']%>
      <%= f.input :allergen, as: :check_boxes, collection: ['gluten', 'nuts', 'fish', 'others'] %>
      <%= f.input :images, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "btn btn-primary mb-4" %>
    </div>
  <% end %>
</div>
