<h1>Create an Offer</h1>
<div class="mt-5 mb-5">
  <%= simple_form_for(@offer) do |f| %>


    <div class = "container" class="form-inputs">
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.input :address %>
      <%= f.input :pickupslots, as: :check_boxes, collection: ['12-15hrs', '15-18hrs', '18-20hrs'] %>
      <%= f.input :typeofoffer %>
      <%= f.input :foodtype %>
      <%= f.input :allergen, as: :check_boxes, collection: ['gluten', 'nuts', 'fish', 'others'] %>
      <%= f.input :post_image, as: :file %>



      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
