<div
  class="map-show"
  data-controller="map"
  data-map-user-location ="<%= user_location_to_json() %>"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="info-container-show">
  <div class="offer_image" style="background-image: url('<%= offer_image_background(@offer) %>')"></div>



    <div class="user-details">
        <%= user_avatar(@offer.user) %>
        <span class="username"> @<%= @offer.user.username %> </span>
        <span class="rating">Rating: 3.5 </span>
        <div class="geocode">
          <span class="distance">1.2km </span>
          <i class="fa-solid fa-location-arrow arrow"></i>
        </div>
    </div>

    <div class="head-options">
      <div class="head-content">
        <h6 class="text-title"> <%=@offer.title%> </h6>

      <div class="actionbuttons">
        <i class="bi bi-bookmark-check"></i>
      </div>
    </div>

    <h6 class="text-description"><%= @offer.body.capitalize %> </h6>



    <div class="action">



      <% if !Booking.find_by(offer_id: @offer) %>
        <%= simple_form_for([@offer, @booking]) do |f| %>
          <% offer_option = @offer.pickupslots.blank? ? ["anytime"] : @offer.pickupslots.split(",")%>
          <%= f.input :pick_up_time, as: :select, collection: offer_option , selected: 1, label: "Select Your Timeslot ⏱️" %>
            <div class="more-infos">
              <div class="button-wrapper">
                <h6 class="fw-bold">Posted</h6>
                <div>
                <h6 style="text-align: center;"><%= time_ago_in_words(@offer.created_at) %> ago</h6>
                </div>
                <i class="fa-regular fa-calendar-days"></i>
              </div>

              <div class="button-wrapper">
                <h6 class="fw-bold">Food Type</h6>
                <h6><%= @offer.typeofoffer %></h6>
                <i class="fa-solid fa-leaf"></i>
              </div>

              <div class="button-wrapper">
                <h6 class="fw-bold">Allergens</h6>
                <h6><%= @offer.allergen %></h6>
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <div class="button-wrapper">
                <%= f.submit "Book", class: "bookingbutton" %>
              </div>
            </div>
        <% end %>
      <% else %>
      <div class="checked-booking">
          <h1> This order has been booked</h1>
            <div class="more-infos">
              <div class="button-wrapper">
                <h6 class="fw-bold">Posted</h6>
                <div>
                <h6 style="text-align: center;"><%= time_ago_in_words(@offer.created_at) %> ago</h6>
                </div>
                <i class="fa-regular fa-calendar-days"></i>
              </div>

              <div class="button-wrapper">
                <h6 class="fw-bold">Food Type</h6>
                <h6><%= @offer.typeofoffer %></h6>
                <i class="fa-solid fa-leaf"></i>
              </div>

              <div class="button-wrapper">
                <h6 class="fw-bold">Allergens</h6>
                <h6><%= @offer.allergen %></h6>
                <i class="fa-solid fa-circle-exclamation"></i>
              </div>
              <div class="confirm-button">
                <i class="fa-solid fa-circle-check"></i>
              </div>
            </div>
      </div>

      <% end %>



    </div>


</div>

<div class = "blankline"> </div>
</div>
