

<% if @booking.offer.images.attached? %>
      <% @booking.offer.images.each do |photo| %>
      <%= cl_image_tag photo.key,
        :gravity => "center",
        :class => "review-image", crop: :fill %>
      <% end %>
    <% else %>
      <h5>PlaceHolder</h5>
    <% end %>


<div style="margin: 50px 50px 10px 50px; font-size: 12px">
    <p>Title: <%= @booking.offer.title %></p>
    <p>Status: <%= @booking.offer.body %></p>
</div>
    <%#= link_to 'edit', edit_offer_path(offer) %>
    <%#= link_to 'Delete', offer_path(offer), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%#= link_to 'Accept Booking', dashboard_accept_booking_path(offer.booking) %>
    <!-- Display other offer actions -->



<% if Review.find_by(booking_id: @booking) %>
    <h1 class="centre">Thanks for your review 🙂</h1>
    <% else %>
    <div class="review-title">
      <%= simple_form_for( [@booking, @review] , data: { controller: "form-submit" }) do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your Booking", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
        <%= f.submit "Sumbit your review", class: "btn btn-primary btnrounded" %>
      <% end %>
    </div>
<% end %>

<div class = "blankline"> </div>
